body {
	font-family:	"Roboto",  Tahoma, sans-serif;
	font-size: 16 px;
	font-weight: normal;
	line-height: 22px;
	color: #283136;
	min-width: 900px;
	background: #e7fdbf;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both; 
}

.wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	background: #fdd5bf;
}

h1 {
	font-size: 36px;
	line-height: 36px;
}

h2 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}


header {
	width: 1200;
	min-height: 435px;
	background: #eeeeee;
}

.main-menu {
	min-height: 85px;
	background: #a8cefa;
}

.index-logo {
	float: left;
	width: 139;
	height: 59;
	background: #0a2540;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
}

b {
	font-size: 36px;
	line-height: 36px;
}

.user-block {
	float: right;
	width: 100px;
	background: #0a2540;
}

.main-navigation {
	float: right;
	width: 560px;
	background: #0a2540;
}

.main-navigation li {
	display: inline-block; 
}

.slide {
	min-height: 355px;
	background: #2d5783;
}

.slide .advantages {
	float: left;
	width: 470px;
	min-height: 200px;
	margin-top: 77px;
/*	padding-top: 0;*/
	background: #bfcbe8;
}

.slider-indicator {
	
}

.slide .right-block {
	float: right;
	width: 340px;
	height: 309px;
	margin-top: 45px;
	background: #bfcbe8;
}

.slider .slide:nth-child(2) {
	display: none;
}

.slider .slide:nth-child(3) {
	display: none;
}

.performance {
	min-height: 300px;
	background: #c17f7f;
	margin-top: 80px;
}

.performance .block {
	float: left;
	width: 240px;
	min-height: 300px;
/*	margin-left: -10px;*/
	margin-right: 80px;
	background: red;
}

.performance .block:last-child {
	margin-right: 0;
}

.index-content {
	background: #f8aaf7;
}

.index-content .left {
	float: left;
	width: 620px;
	background: #f7c2f6;
}

.index-content .right {
	width: 240px;
	float: right;
	background: #ff7c26;
}












































