* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #283136;
    min-width: 900px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

header {
    background: #eeeeee;
    width: 100%;
    max-height: 435px;
    position: relative;
}

.header-catalog {
    height: 328px;
}

.main-menu {
    min-height: 85px;
    font-size: 14px;
    line-height: 30px;
    color: #3f3f3f;
}

.index-logo {
    position: absolute;
    left: 161px;
    top: 25px;
    width: 139px;
    height: 59px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
}

b {
    font-size: 36px;
    line-height: 36px;
}

.user-block {
    float: right;
    width: 100px;
    color: #000000;
    margin-top: 53px;
	margin-right: 20px;
    position: relative;
}

.user-block .icon-basket,
.user-block .basket  {
    display: inline-block;
}

.user-block .icon-basket {
    width: 16px;
    height: 15px;
	margin-right: 8px;
    display: inline-block;
    background: url(../img/sprite.png) no-repeat -124px -5px;
}

.user-block:hover .icon-basket {
	background: url(../img/sprite.png) no-repeat -156px -5px;
}

.user-block:active .icon-basket {
	background: url(../img/sprite.png) no-repeat -140px -5px;
}

.main-navigation {
    float: right;
    margin-top: 53px;
    margin-right: 20px;
    font-size: 0px;
}

.main-navigation li {
    display: inline-block;
}

.main-navigation li:first-child {
    margin-left: 0px;
}

.main-navigation a {
    margin-right: 47px;
    color: #000000;
    font-size: 14px;
}

.main-menu a:hover {
    color: #fb565a;
}

.main-menu .active {
    color: #000;
    border-bottom: 2px solid #fb565a;
    padding-bottom: 5px;
}

.main-menu a:active {
    color: #8f8f8f;
    border-bottom: none;
}

.slider {
    min-height: 300px;
    margin-top: 45px;
    margin-bottom: 10px;
    position: relative;
}

.slider .slide:nth-child(2) {
    display: none;
}

.slider .slide:nth-child(3) {
    display: none;
}

.advantages {
    float: left;
    width: 470px;
    min-height: 230px;
    color: #283136;
}

.advantages p {
    margin: 0;
    padding: 0;
    margin-top: -7px;
}

.advantages-button {
    display: inline-block;
    text-align: center;
    width: 240px;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    background: #fb565a;
    color: white;
    font-size: 12px;
    margin-top: 29px;
}

.right-block {
    float: right;
    max-width: 340px;
    max-height: 319px;
    margin-right: 10px;
    padding-top: 3px;
}

.right-block img {
    margin-top: -20px;
}

.slider-indicator {
    position: absolute;
    left: 50%;
    margin-left: -56px;
	top: 50
    bottom: 23px;
    font-size: 0;
}

.slider-indicator .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: relative;
}

.slider-indicator .active:after {
    width: 4px;
    height: 4px;
    background: #c1c1c1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    display: block;
    content: '';
}

.performance {
    margin-top: 81px;
    padding: 0 0 80px;
    border-bottom: 1px solid #eeeeee;
}

.block {
    float: left;
    width: 240px;
    height: 300px;
    margin-right: 80px;
    margin-left: 0px;
}

.block:last-child {
    margin-right: 0;
}

.block h2 {
    margin-top: 18px;
    margin-bottom: 13px;
}

.block p {
    font-size: 15px;
    line-height: 22px;
}

.block a {
    display: inline-block;
    width: 140px;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    margin-top: 26px;
}

.red {
    background: #fb565a;
}

.red:hover {
    background: #d6494d;
}

.red:active {
    background: #b63538;
    box-shadow: inset 0 3px 0 #9b2d30;
}

.green {
    background: #00ca74;
}

.green:hover {
    background: #01a25e;
}

.green:active {
    background: #009053;
    box-shadow: inset 0 3px 0 #007b47;
}

.yellow {
    background: #efc84a;
}

.yellow:hover {
    background: #d6ae2c;
}

.yellow:active {
    background: #c09b24;
    box-shadow: inset 0 3px 0 #a3841f;
}

.index-content {
    padding: 0px 0 44px 0;
    margin: 59px auto 0 auto;
    position: relative;
    border-bottom: 1px solid #eeeeee;
}

.left {
    float: left;
    width: 580px;
    min-height: 350px;
    margin: 11px 0 0 0;
}

.left-top {
    min-height: 150px;
}

.left-top p {
    margin-top: 19px;
}

.left-bottom {
    min-height: 180px;
    margin: 28px 0 0 0;
}

.left-bottom h3 {
    margin-bottom: 26px;
}

.left-bottom li {
    line-height: 14px;
}

.right {
    float: right;
    width: 240px;
    background: url(../img/index/logo2.png) no-repeat 31px top;
    padding: 102px 0 0 0;
}

.right .since {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin: 0 0 65px;
}

.right .since:after {
    display: block;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1px;
    background: #eeeeee;
    z-index: 1;
}

.right .since span {
    display: inline-block;
    background: #fff;
    padding: 0 14px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

.right .red-dot {
    padding: 22px 0 0 0;
}

.right .red-dot .dash {
    margin-bottom: 22px;
}

.right-top {
    min-height: 150px;
    position: relative;
}

.right-bottom {
    min-height: 180px;
    padding-top: 2px;
}

.right-bottom li {
    margin-top: 25px;
    line-height: 14px;
}

.dash {
    font-size: 16px;
    position: relative;
    padding: 0 0 0 37px;
    margin-bottom: 30px;
}

.dash:last-child {
    margin-bottom: 0;
}

.dash::before {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background: #fb565a;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}

/*brands*/
.brands {
    margin-top: 8px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    height: 165px;
    align-items: center;
}

.brands a {
    display: block;
}

.brands .gluh {
    width: 198px;
    height: 37px;
    background: url(../img/index/gluh.png) no-repeat;
}

.brands .gluh:hover {
    background-image: url(../img/index/gluh-hover.png);
}

.brands .html {
    width: 199px;
    height: 68px;
    background: url(../img/index/html.png) no-repeat;
}

.brands .html:hover {
    background-image: url(../img/index/html-hover.png);
}

.brands .borod {
    width: 209px;
    height: 86px;
    background: url(../img/index/borod.png) no-repeat;
}

.brands .borod:hover {
    background-image: url(../img/index/borod-hover.png);
}

.brands a:first-child {
    width: 197px;
    margin-left: 12px;
    margin-right: 122px;
}

.brands a:nth-child(2) {
    margin-right: 115px;
}

.guide {
    width: 100%;
    height: 415px;
    background: #e9e5dc url(../img/index/guide.png) no-repeat center;
    background-size: cover;
    position: relative;
    margin: 90px 0 0 0;
}

.guide .contacts {
    position: absolute;
    left: 13.1666%;
    top: 88px;
    box-sizing: border-box;
    width: 250px;
    height: 240px;
    background: white;
    padding: 15px 21px;
}

.guide .contacts p:nth-child(3) {
    margin: 17px 0 0 0;
}

.guide .contacts h3 {
    margin: 13px 0 15px;
}

.letter {
    display: inline-block;
    width: 204px;
    height: 38px;
    line-height: 38px;
    margin-top: 29px;
    margin-left: 2px;
    background: #fb565a;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
}

.pointer img {
    position: absolute;
    right: 10.8333%;
    top: 111px;
    width: 230px;
    height: 190px;
    z-index: 1;
}

.form {
    box-sizing: border-box;
    width: 630px;
    height: 416px;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 53px;
    padding-bottom: 137px;
    background: #fff;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    top: -33px;
    margin-left: -325px;
    z-index: 5;
}

form .close {
    position: absolute;
    right: 6px;
    top: 6px;
    background: #fb565a url(../img/sprite.png) no-repeat -230px  4px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fb565a;
    z-index: 100;
}

.name {
    display: inline-block;
}

.name-field {
    width: 200px;
    height: 33px;
    border: 2px solid #ebedef;
    border-radius: 3px;
    margin-top: 8px;
    margin-right: 18px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px;
}

.email {
    display: inline-block;
}

.email-field {
    display: inline-block;
    width: 203px;
    height: 33px;
    border: 2px solid #ebedef;
    border-radius: 3px;
    margin-top: 8px;
    padding-left: 12px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.infofmation {
    margin-top: 20px;
}

.infofmation label,
.infofmation textarea {
    display: inline-block;
}

.infofmation textarea {
    min-height: 86px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    padding: 12px 14px;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    resize: vertical;
    width: 93%;
    display: block;
    margin: 7px 0 48px;
}

.infofmation-field {
    display: inline-block;
    width: 445px;
    height: 108px;
    border: 2px solid #ebedef;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 50px;
    padding-left: 11px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.submit {
    display: inline-block;
    width: 460px;
    height: 38px;
    line-height: 36px;
    background: #fb565a;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 12px;
    border: 1px solid #fb565a;
    border-radius: 3px;
}

.form div input:hover,
.form div textarea:hover {
    border: 2px solid #a2a9ac;
}

.form div input:focus,
.form div textarea:focus {
    border: 2px solid #56bffb;
}

footer {
    width: auto;
    height: 216px;
}

.footer-social {
    float: left;
    width: 274px;
    height: 62px;
    margin-top: 77px;
    margin-left: -2px;
}

.social-btn {
    display: inline-block;
    background: #e1e1e1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 67px;
    text-align: center;
    border: 1px solid #e1e1e1;
    margin-right: 23px;
}

.social-btn:hover {
    background: #fb565a;
}

.social-btn:active {
    background: #d6494d;
    box-shadow: inset 0 3px 0 #b9464a;
}

.footer-discont {
    float: right;
    width: 550px;
    height: 70px;
    margin-top: 75px;
    margin-right: 11px;
}

.footer-discont p {
    margin-top: 11px;
}


/*КАТАЛОГ*/

.header-catalog h1 {
    font-size: 40px;
    color: #000;
    font-weight: 500;
    text-align: center;
    margin: 59px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 48px;
}

.left-column {
    float: left;
    width: 240px;
    height: 750px;
    margin-top: 74px;
}

.scroll-field {
    display: inline-block;
    width: 238px;
    height: 78px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-top: 16px;
    position: relative;
}

.scroll-field .ring1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 0 #cfcfcf;
    position: absolute;
    left: 15;
    top: 35;
}

.scroll-field .ring1:after {
	display: block;
    width: 4px;
    height: 4px;
    background: #d7dcde;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
	margin:-6px 0 0 -6px;
	content: "";
}

.scroll-field .green-line {
	border: 2px solid #00ca74;
	width: 120px;
	position: absolute;
	left: 40px;
	top: 37px;
}

.scroll-field .ring2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 0 #cfcfcf;
    position: absolute;
    left: 60;
    top: 35;
}

.scroll-field .ring2:after {
	display: block;
    width: 4px;
    height: 4px;
    background: #d7dcde;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
	margin:-6px 0 0 -6px;
	content: "";
}

.scroll-field .gray-line {
	border: 2px solid #d7dcde;
	width: 40px;
	position: absolute;
	left: 185px;
	top: 37px;
}

#min {
    display: inline-block;
    width: 78px;
    height: 34px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    text-align: center;
    margin-left: 11px;
    margin-top: 8px;
}

#max {
    display: inline-block;
    width: 77px;
    height: 34px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    text-align: center;
    margin-left: 22px;
    margin-top: 8px;
}

.scroll-field span {
	display: inline-block;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.grid {
    margin-top: 45px;
}

.grid .inp-box {
    line-height: 30px;
    margin-top: 10px;
    padding: 0 0 0 35px;
    position: relative;
}

.grid .inp-box input {
    display: none!important;
}

.grid .inp-box label {
    cursor: pointer;
}

.grid .inp-box label:before {
    position: absolute;
    left: 0;
    top: 4px;
    width: 19px;
    height: 19px;
    border: 3px solid #c1c1c1;
    border-radius: 50%;
    content: '';
    display: block;
}

.grid .inp-box input:checked + label:after {
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    background: #c1c1c1;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 11px;
}

#grid-selection {
    display: inline-block;
    background: #c1c1c1;
    border-radius: 20%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 10px solid #e1e1e1;
}

.features {
    margin-top: 41px;
}

.features .inp-box2 {
    line-height: 30px;
    margin-top: 10px;
    padding: 0 0 0 35px;
    position: relative;
}

.features .inp-box2 input {
    display: none!important;
}

.features .inp-box2 label {
    cursor: pointer;
}

.features .inp-box2 label:before {  
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    border: 3px solid #c1c1c1;
    border-radius: 5px;
    content: "";
    display: block;
}

.features .inp-box2 input:checked + label:after {
	display: block;
    content: "";
    width: 23px;
    height: 17px;
	background: url(../img/sprite.png) no-repeat -100px -5px;
	position: absolute;
    left: 4px;
    top: 6px;
}

.show {
    display: inline-block;
    width: 155px;
    height: 37px;
    line-height: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    background: #f1f1f1;
    margin: 54px 0 0 0;
}

.show:hover {
    background: #e5e5e5;
}

.show:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 #b5b5b5;
}

.right-column {
    float: right;
    width: 560px;
    height: 1150px;
    margin-top: 74px;
	margin-right: 30px;
}

.sorting {
    display: inline-block;
    width: 560px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sorting span:first-child {
    display: inline-block;
}

.sorting .navigation-sorting {
    display: inline-block;
    margin-left: 35px;
}

.sorting .sorting-buttons {
    display: inline-block;
    margin-left: 62px;
}

.navigation-sorting li {
    display: inline-block;
    font-size: 0;
}

.navigation-sorting a {
    display: inline-block;
    font-size: 12px;
    margin-right: 40px;
    color: #c7c7c7;
    border-bottom: 1px dashed #00ca74;
}

.navigation-sorting a:hover {
    border-bottom: 1px solid #00ca74;
}

.button-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 12px solid #00ca74;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.button-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #c1c1c1;
}

.button-down:hover {
    border-top: 12px solid #c1c1c1;
}

.button-up:hover {
    border-bottom: 12px solid #c1c1c1;
}

.button-down:focus {
    border-top: 12px solid #00ca74;
}

.button-up:focus {
    border-bottom: 12px solid #00ca74;
}

.button-up:active {
    border-bottom: 12px solid #000;
}

.button-down:active {
    border-top: 12px solid #000;
}

.portfolio {
    float: right;
    width: 560px;
}

.item {
    display: inline-block;
    margin-bottom: 76px;
    position: relative;
}

.item:nth-child(2n) {
    margin-left: 76px;
}

.item .dots {
    width: 240px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 5px 5px 0 0;
}

.item:hover .dots {
    background: #797979;
}

.dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    line-height: 9px;
    border-radius: 50%;
    border: 1px solid white;
    background: white;
    margin-left: 7px;
    margin-top: 10px;
}

.dot:first-child {
    margin-left: 12px;
}

.item .price {
    display: none;
}

.item:hover .price {
    display: inline-block;
    box-sizing: border-box;
    width: 201px;
    height: 200px;
    background: #fff;
    padding: 36px 20px 30px 20px;
    position: absolute;
    left: 20px;
    top: 50px;
    z-index: 1;
}

.price h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.price p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 30px;
}

.price button {
    display: inline-block;
    width: 138px;
    height: 36px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    background: #fb565a;
    border: 1px solid #fb565a;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.price button:hover {
    background: #d6494d;
}

.price button:active {
    background: #b63538;
    box-shadow: inset 0 3px 0 #9b2d30;
}

.page-navigator a {
    display: inline-block;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    margin-left: 7px;
}

.page-navigator .next {
    display: inline-block;
    padding: 0 30px 0 30px;
}

.page-navigator a:hover {
    background: #e5e5e5;
}

.page-navigator a:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 #b5b5b5;
}

.page-navigator a:focus {
    background: #fff;
}